{% extends 'base2.html' %}

{% load static %}
{% get_static_prefix as static %}

{% block content %}

<div class="container-fluid flex-grow-1 container-p-y">
    <h4 class="py-0 mb-3">Configuration</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="nav-align-top nav-tabs-shadow mb-4">
                <div class="tab-content">


                    <div id="CombinedContent" class="mx-4 my-3">

                        <div class="col-lg-12">
                            
                            <div class="demo-inline-spacing mt-3 px-0">

                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>                                                                          
                                

                
                
                
                
                


                        

<script>


    
        


</script>



{% endblock %}